<main>
  {{ range .Site.Taxonomies.tags.Alphabetical.Reverse }}
  <div class="tag"><i data-feather="tag"></i><span>{{ .Name }}</span></div>
  {{ range .Pages.GroupByDate "2006" }}
  <ul class="post-list">
    <time>{{ .Key }} </time>
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{.Title}}</a>
      <time>{{ dateFormat "01-02" .Date }}</time>
      <!-- {{ if .Draft }}<span class="draft-label">DRAFT</span> {{ end }} -->
    </li>
    {{ end }}
  </ul>
  {{ end }} {{ end }}
</main>
