<main>
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range $pages.GroupByDate "2006" "desc" }}
  <div class="year">
    <time>{{ .Key }} </time>
  </div>
  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{.Title}}</a>
      <time>{{ dateFormat "01-02" .Date }}</time>
      {{ if hasSuffix .Params.series "摘" }}
      <i data-feather="book" class="series-icon"></i>
      {{ else }}
      <i data-feather="pen-tool" class="series-icon"></i>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
  <script>
    feather.replace();
  </script>
</main>
